doctype HTML

html(lang="#{locales.locale}")
  head
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")
    style(type="text/css").
      body{
        font-size: 12px;
        margin: 35px;
        font-family: Roboto;
        font-weight: 400;
      }
      .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px
      }
      .align-right {
        text-align: right
      }
      .table-client-company {
        width: 100%;
      }
      .invoice-number {
        font-weight: 700;
      }
      .client-name, .company-name{
        white-space: nowrap;
      }
      .title {
        font-weight: 700;
      }
      .client-info {
        border: solid 2px #d6e0f5;
        border-radius: 4px;
        padding: 10px
      }
      .client-info div,.company-info div {
        line-height: 20px;
      }
      .border-table th, .border-table td {
        border:1px solid #d6e0f5;
      }
      .border-table th{
        background-color: #d6e0f5;
        font-weight: 700;
      }
      .border-table-wrapper {
        border:1px solid #d6e0f5;
        border-radius: 2px;
        margin-top: 30px;
      }
      .border-table th:first-child {
        border-left: none;
        border-top: none;
      }
      .border-table th:last-child {
        border-right: none;
        border-top: none;
      }
      .border-table tr:first-child th{
        border-top: none
      }
      .border-table tr:last-child td{
        border-bottom: none
      }
      .border-table td:first-child {
        border-left: none;
        border-bottom: none;
      }
      .border-table td:last-child {
        border-right: none;
        border-bottom: none;
      }
      .border-table {
        border-collapse: collapse;
      }
      .invoice-items-table {
        width: 100%;
      }
      .invoice-items-table th, .invoice-items-table td {
        font-size: 10px;
        font-family: Roboto;
        text-align: left;
        padding: 6px;
      }
- var invoice = locals.invoice
body
  header 
    table.header
      tr
        td.left 
          img(src="#{invoice.company.logoUrl}")
        td.align-right.invoice-number #{invoice.invoiceType} Invoice ##{invoice.invoiceNumber} 
    table.table-client-company
      tr 
        td(colspan="2",width="40%").left.company-info
          div.title Seller 
          div.company-name #{invoice.company.name}
          div.company-address #{invoice.company.street}
          div.company-city-country #{invoice.company.zipCode} #{invoice.company.city}, #{invoice.company.country}
        td(colspan="1")
        td(colspan="2",width="40%").align-right.client-info
          div.title Buyer 
          div.client-name #{invoice.client.name}
          div.client-address #{invoice.client.street}
          div.client-city-country #{invoice.client.zipCode} #{invoice.client.city}, #{invoice.client.country}
    div.border-table-wrapper
      table.invoice-items-table.border-table
        tr 
          th(colspan="5", width="50%") Description
          th(colspan="1", width="10%") Unit
          th(colspan="1", width="10%") Quantity
          th(colspan="1", width="10%") Price
          th(colspan="1", width="10%") Total
        each val in invoice.items 
          tr 
            td(colspan="5", width="50%") #{val.description}
            td(colspan="1", width="10%") #{val.unit}
            td(colspan="1", width="10%") #{val.amount}
            td(colspan="1", width="10%") #{utils.formatCurrency(val.price, invoice.currency)}
            td(colspan="1", width="10%")  #{utils.formatCurrency(val.total.gross, invoice.currency)}


</html>